<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - Music Archive</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-800">

<div class="mx-auto w-6/12">
    <div class="text-center m-20 py-3 px-2">
        <h1 class="text-6xl font-extrabold text-white pb-4">Login</h1>
        <img class="rounded-2xl mx-auto" src="https://media.tenor.co/images/bf102e55a9e1450c15f8221c18a11ffc/tenor.gif" />
        <div>
<!--            <form id="loginForm" method="POST" action="/login">-->
            <form class="login" th:action="@{/index}" method="post" role="form">
                <div class="mb-4">
                    <label class="block text-white text-lg font-medium mb-2" for="username">Username:</label>
                    <input id="username" name="email" class="bg-black ring-1 ring-gray-800 text-white font-medium p-1 rounded-xl w-full" type="text" />
                </div>
                <div class="mb-6">
                    <label class="block text-white text-lg font-medium mb-2" for="password">Password:</label>
                    <input id="password" name="password" class="bg-black ring-1 ring-gray-800 text-white font-medium p-1 rounded-xl w-full" type="password" />
                </div>
                <button id="loginButton" class="bg-black ring-1 ring-gray-800 text-white font-medium p-1 my-2 text-2xl rounded-xl hover:bg-white hover:text-black w-full" type="submit">Login</button>
            </form>
        </div>


    </div>
</div>

</body>
</html>
